<footer data-astro-cid-sz7xmlte>
    <p data-astro-cid-sz7xmlte>Desarrollado en el curso de Tecnico Medio</p>
    <div data-astro-cid-sz7xmlte> <a href="#" data-astro-cid-sz7xmlte> <img src="/img/icons/twitter.png" alt="..."
          data-astro-cid-sz7xmlte> </a> <a href="#" data-astro-cid-sz7xmlte> <img src="/img/icons/twitter.png" alt="..."
          data-astro-cid-sz7xmlte> </a> <a href="#" data-astro-cid-sz7xmlte> <img src="/img/icons/twitter.png" alt="..."
          data-astro-cid-sz7xmlte> </a> </div>
  </footer>