<header data-astro-cid-hvw56qw6> <a href="/" data-astro-cid-hvw56qw6> <img src="/img/icons/x.png" alt="..."
    data-astro-cid-hvw56qw6> </a> <input type="text" placeholder="Buscar" data-astro-cid-hvw56qw6>
<nav data-astro-cid-hvw56qw6>
  <ul data-astro-cid-hvw56qw6> <a href="/especialidades" data-astro-cid-oijuzrca> <img src="/img/icons/x.png"
        alt="..." data-astro-cid-oijuzrca> <span data-astro-cid-oijuzrca>Especialidades</span> </a> <a
      href="/servicios" data-astro-cid-oijuzrca> <img src="/img/icons/x.png" alt="..." data-astro-cid-oijuzrca>
      <span data-astro-cid-oijuzrca>Servicios</span> </a> <a href="/medicos" data-astro-cid-oijuzrca> <img
        src="/img/icons/x.png" alt="..." data-astro-cid-oijuzrca> <span data-astro-cid-oijuzrca>Medicos</span> </a>
  </ul>
</nav>
</header>
<hr>
<nav data-astro-cid-2j44jlrm>
<ul data-astro-cid-2j44jlrm>
  <li data-astro-cid-2j44jlrm> <a href="/propietario" data-astro-cid-jrov5ssf>Propietario</a> </li>
  <li data-astro-cid-2j44jlrm> <a href="/mascota" data-astro-cid-jrov5ssf>Mascota</a> </li>
  <li data-astro-cid-2j44jlrm> <a href="#" data-astro-cid-jrov5ssf>Tres</a> </li>
  <li data-astro-cid-2j44jlrm> <a href="#" data-astro-cid-jrov5ssf>Cuatro</a> >
  </li>
</ul>
</nav>