<footer>
  <p>Desarrollado en el curso de Tecnico Medio</p>
  <div>
    <a href="#">
      <img src="/img/icons/twitter.png" alt="..." />
    </a>
    <a href="#">
      <img src="/img/icons/twitter.png" alt="..." />
    </a>
    <a href="#">
      <img src="/img/icons/twitter.png" alt="..." />
    </a>
  </div>
</footer>

<style>
  footer {
    margin-top: 35px;
    height: 50px;
    padding: 0px var(--padding-pc-container);
    background-color: var(--primary-color);
    color: var(--primary-text-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer > p {
    font-size: 1.5rem;
  }

  footer > div > a > img {
    margin-left: 10px;
  }
</style>
