---
const { url, imagen, title } = Astro.props;
---

<a href={url}>
  <img src=`/img/icons/${imagen}` alt="..." />
  <span>{title}</span>
</a>

<style>
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-text-color);
  }

  a:hover {
    color: var(--secondary-color);
  }

  a > span {
    font-size: 1.5rem;
  }

  a > img {
    width: 24px;
    height: 24px;
  }
</style>
