---
import MenuItem from "./MenuItem.astro";

---

<nav>
  <ul>
    <li>
      <MenuItem title="Propietario" url="/propietario" />
    </li>
    <li>
      <MenuItem title="Mascota" url="/mascota" />
    </li>
    <li>
      <MenuItem title="Tres" url="#" />
    </li>
    <li>
      <MenuItem title="Cuatro" url="#" />>
    </li>
  </ul>
</nav>

<style>
  nav {
    margin-bottom: 25px;
    background-color: var(--primary-color);
    height: 50px;
  }

  nav > ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    height: 100%;
  }
</style>
